body {
   background-color: #22254b;
   font-family: "Poppins", sans-serif;
   margin: 0;
}


#header{
   background-color: #373b69;
   padding: 10px;
   display: flex;
   justify-content: flex-end;
}

.navbar{
   display: flex;
   color: white;
   margin-top: 0px;
   margin-right: 800px;
   cursor: pointer;
   
}


.input{
   background-color: #22254b;
   color: white;
   border: none;
   border-radius: 30px;
   padding: 10px 20px 10px 10px;
   outline: none;
   margin-top: 8px;
}

.input:hover{
   background-color: rgb(33, 34, 51);
   outline: none;
}

.input::placeholder{
   color: white;
}

#movies-container{
   display: flex;
   flex-wrap: wrap;
  justify-content: space-evenly;
}


.movie{
   width: 200px;
   background-color: #373b69;
   margin:  20px 10px;
   border-radius: 10px;
   overflow: hidden;
   transition: all 0.3s;
   cursor: pointer;
}


.movie:hover{
   transform: scale(1.05);
}
.movie img{
   width: 100%;
}

.movie .movie-info{
   color: white;
   display: flex;
   justify-content: space-between;
   margin-top: 10px;
   padding: 0 3px;
   
}

.movie h2{
   font-size: 20px;
   font-weight: bold;
   max-width: 140px;
}

.movie p{
   background-color: #22254b;
   padding: 5px 3px ;
   height: 35px;
   color: yellow;
   border-radius: 5px;
   display: flex;
   margin-top: -3px;
   
}

.movie i{
   font-size: 25px;
   
}